input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #FF6565;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container-welcome {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* Turn logo into circle */
/*img.logo {
    width: 40%;
    border-radius: 50%;
}*/

.container-login {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    padding-right: 16px;
}

span.psw a {
    text-decoration: none;
    color: #FF6565;
}

.wrapper-login {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d1d1d;
    padding-top: 60px;
}

.container-form {
    background-color: #FEFEFE;
    margin: 10% auto 10% auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 30%;
    height: 50%;
}

footer {
    margin: 80px;
    text-align: center;
}

/*-----Responsive-----*/
@media only screen and (max-width: 991px) {
    footer {
    margin: 50px;
    text-align: center;
}
}

@media only screen and (max-width: 768px) {
    

    footer {
        text-align: center;
        margin: 50px;
    }
}


@media screen and (max-width: 300px) {
    spawn.psw {
        display: block;
        float: none;
    }
    footer {
        margin: 10px;
        text-align: center;
    }
}